@use '../../scss/' as *;

.btn {
    font-weight: 600;
    font-size: 1rem;
    color: $txt-color;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1rem 3rem;
    font-family: $font-family;
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &-main {
        background-color: $main-color;
    }

    &-second {
        background-color: $second-color;
    }
}
